
/* Color Settiing*/
/*
$primary:     #0E3181;
$secondary:   #611B47;
$success:     #3EA923;
$info:        #247BA0;
$warning:     #F4A28C;
$danger:      #B4040C;
$dark:        #140D2D;
$light:       rgba(249, 82, 115, 0.2);
*/
